
.about {

    background-image: url('../../img/sections/about-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $purple-color;
    padding: 6.25rem 0 0 0 0;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__title {
        color: #fff;
        font-weight: bold;
        font-size: 3rem;
        margin: 0 auto;
        margin-bottom: 5rem;
    }

    .review-list {
        display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // grid-template-rows: 1fr 1fr;
        gap: 7rem 5rem;
        
        
        
        
        
        
        &__item {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            

            &-logo {
                
                margin-bottom: 2rem;
            }

            &-text {
                text-align: center;
                font-style: italic;
                font-weight: bold;
                color: #fff;
                line-height: 24px;
                
            }
        }
    }

    &__subtitle {
        position: relative;
        display: block;
        color: #A291A5;
        font-size: 0.975rem;
        line-height: 21px;
        text-align: center;
        margin: 3rem 0 1.5rem 0;

        &::after {
            @include pseudo;
            width: 80%;
            height: 2px;
            background-color: #645766;
            bottom: -24px;
            left: calc(100% - 90%);
        }
    }
    
}