.features {
  background: $color_grey_bg;
  margin: 0;

  &__wrapper {
    display: flex;
  }

  &__desc-title {
    font-weight: bold;
    font-size: 3rem;
    color: $purple-color;
  }

  &__tab-title {
    display: none;
    font-weight: bold;
    font-size: 3rem;
    color: $purple-color;
  }

  &__title-img {
    margin-top: 5.625rem;
  }

  &__list {
    margin-top: 6.125rem;
  }

  &__item {
    display: -webkit-box;

    &-icon {
      margin-left: 3.75rem;
      width: 15%;
      text-align: center;
    }

    &-text-block {
      width: 65%;
      grid-area: dd;
      margin-left: 1.5rem;
      margin-bottom: 2.1875rem;

      &-title {
        margin-bottom: 1.0625rem;
        font-size: 1rem;
        line-height: 1.3125rem;
        color: #323232;
      }

      &-subtitle {
        font-size: 0.875rem;
        line-height: 1.3125rem;
        color: $grey-color;
      }
    }
  }
}
