.features {
  background: $color_grey_bg;
  margin: 0;

  &__wrapper {
   display: block;
  }

  &__title {
    display: flex;
    justify-content: flex-end;
    margin: 0 100px 19px 0;
    padding-top: 94px;
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }
  &__img {

  }

  &__list {
    display: block;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;

    &-icon {
      display: block;
      text-align: right;
      align-content: end;
      //width: 115px;
      margin-left: 90px;
      margin-bottom: 64px;
    }
    &-text-block {
      display: block;
      margin-left: 24px;

      &-title {
        display: flex;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
      }
      &-subtitle {
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: $grey-color;
      }
    }
  }
}