.features {
  background: $color_grey_bg;
  margin: 0;

  &__wrapper {
    display: flex;
    
  }

  &__desc-title {
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }

  &__tab-title {
    display: none;
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }

  &__title-img {
    margin-top: 90px;
  }
  &__img {

  }

  &__list {
    margin-top: 98px;
  }

  &__item {
    display: -webkit-box;

    &-icon {
      margin-left: 60px;
      width: 15%;
      text-align: center;
    }

    &-text-block {
      width: 65%;
      grid-area: dd;
      margin-left: 24px;
      margin-bottom: 35px;

      &-title {
        margin-bottom: 17px;
        font-size: 16px;
        line-height: 21px;
        color: #323232;
      }

      &-subtitle {
        font-size: 14px;
        line-height: 21px;
        color: $grey-color;
      }
    }
  }
}