.features {
  background: $color_grey_bg;
  margin: 0;

  .features__wrapper {
   display: block;
  }

  .features__title {
    display: flex;
    justify-content: flex-end;
    margin: 0 170px 19px 0;
    padding-top: 94px;
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }

  .features__list {
    display: block;
    flex-wrap: wrap;
    padding-bottom: 72px;
    padding-top: 110px;

    .features__item {
      display: flex;

      &-icon {
        display: block;
        //text-align: center;
        width: 115px;
        //margin-left: 90px;
        margin-bottom: 64px;
      }

      .features__item-text-block {
        display: block;
        margin-left: 24px;

        .features__item-text-block-title {
          display: flex;
          font-size: 16px;
          line-height: 21px;
          color: #323232;
        }

        .features__item-text-block-subtitle {
          font-size: 14px;
          line-height: 21px;
          display: flex;
          align-items: center;
          color: $grey-color;
        }
      }
    }
  }

  .features__img {
    float: right;
    //width: 100%;
  }
}