.features {
  background: $color_grey_bg;
  margin: 0;

  &__wrapper {
    display: flex;
    
  }

  &__desc-title {

    border: 1px solid yellow;
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }
  &__tab-title {
	border: 1px solid yellow;
    font-weight: bold;
    font-size: 48px;
    color: $purple-color;
  }
  &__img {
    border: 1px solid red;
    grid-area: bb;
  }

  &__list {

  }

  &__item {
    display: flex;

    &-icon {
      
      border: 1px solid blue;
      grid-area: cc;
      text-align: left;
    }
    &-text-block {
    
      border: 1px solid green;
      grid-area: dd;
      margin-left: 24px;

      &-title {
        font-size: 16px;
        line-height: 21px;
        color: #323232;
      }
      &-subtitle {
        font-size: 14px;
        line-height: 21px;
        color: $grey-color;
      }
    }
  }
}