@import "variables";
@import "mixins";

.header {
    padding: 1.8rem 0;

    &__body {
        display: grid;
        grid-template-columns: 20% 65% 15%;
        // grid-template-rows: repeat(2, 1fr);
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: center;
        transition: 0.3s;

        &-img {
            background-image: url("../../img/logo/logo.png");
            width: 43px;
            height: 41px;

            &:hover {
                background-image: url("../../img/logo/logo-hover.png");
                transition: 0.3s;
            }
        }
    }

    &__logo-text {
        font-family: "Lato", sans-serif;
        color: $purple-color;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-left: 1rem;
    }

    &__logo-text:hover {
        color: #fff;
        transition: 0.3s;
    }

    &__burger {
        display: none;
    }

    &__list {
        display: flex;
        justify-content: flex-end;
    }

    &__list li {
        padding-left: 2.6rem;
    }

    &__link {
        color: $purple-color;
        font-weight: bold;
    }

    &__link:hover {
        color: #fff;
        transition: 0.3s;
    }

    &__button {
        justify-self: end;
        align-self: center;
        background-color: $purple-color;
        color: #fff;
        font-weight: bold;
        border-radius: 40px;
        padding: 0.875rem 3em;
        border: none;
        outline: none;
    }

    &__button:hover {
        background-color: #fff;
        color: $purple-color;
        transition: 0.3s;
    }
}
