.features__wrapper {
  background: $color_grey_bg;
  height: 711px;
  margin: 0;

  aside  {
    float: right;
  }

  .features__title {
    display: flex;
    justify-content: flex-end;
    margin: 0 170px 19px 0;
    padding-top: 94px;
    font-weight: bold;
    font-size: 42px;
    color: $purple-color;
  }

  .features__list {
    display: block;
    flex-wrap: wrap;
    padding-bottom: 72px;
    padding-top: 110px;

    .features__item {
      display: flex;

      .features__item-link {
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;

        .features__item-img {
          display: block;
          text-align: center;
          width: 115px;
          margin-left: 90px;
          margin-bottom: 64px;
        }
        .features__item-text {
          display: block;
          width: 406px;
          margin-left: 24px;

          .features__item-title {
            display: flex;
            font-size: 16px;
            line-height: 21px;
            color: #323232;
          }

          .features__item-subtitle {
            font-size: 14px;
            line-height: 21px;
            display: flex;
            align-items: center;
            color: $grey-color;
          }
        }
      }
    }
  }
}