@import "variables";
@import "mixins";

.pricing {
  background-image: url("../../img/fork_pricining/fork_bg.png");
  background-size: contain;

  &__wrapper {
    display: grid;
    padding-top: 5.188rem;
    margin: 0 auto;
  }

  &__title {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: #fff;
  }
}

.pricing-list {
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
  margin: 7rem 0;

  &__item {
    background: rgba(128, 128, 128, 0.5);
    margin-right: 0.9375rem;
    text-align: center;

    &-category {
      @include central;
      background: rgba(255, 255, 255, 0.1);
      font-size: 1.5rem;
      padding: 2.1875rem 0;
      text-transform: uppercase;
      color: #fff;

      &:nth-child(3) {
        padding: 3.125rem 0;
      }
    }

    &-cost {
      display: grid;
      align-items: center;

      &-inner {
        @include central;
        font-size: 3.75rem;
        line-height: 5.625rem;
        padding-top: 1.25rem;
        align-items: start;
        text-transform: uppercase;
        color: #fff;
      }
    }

    &-subtitle {
      position: relative;
      font-size: 0.875rem;
      line-height: 1rem;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.875rem;
      padding-top: 1.25rem;
      color: #fff;

      &::after {
        @include pseudo;
        background: $purple-color;
        width: 25%;
        height: 0.313rem;
        top: 4.375rem;
        right: 36%;
      }
    }

    &-advantage {
      height: 2rem;
      font-size: 1rem;
      line-height: 1.125rem;
      text-align: center;
      margin: 4.688rem 0;
      color: #fff;
    }

    &-btn {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 2.5rem;
      text-decoration: none;
      font-size: 15px;
      margin: 0 2.9375rem 2.25rem 2.9375rem;
      padding: 0.9375rem 2.3125rem;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
.pricing-list__item:nth-child(3) {
  background: rgba(55, 6, 42, 0.4);

  .pricing-list__item-category {
    padding: 2.6875rem 6rem;
  }
  .pricing-list__item-cost {
  }
  .pricing-list__item-cost-inner {
    font-size: 5.125rem;
    line-height: 5.625rem;
  }
  .pricing-list__item-advantage {
  }
}
