.pricing {
  background-image: url("../../img/fork_pricining/fork_bg.png");
  background-size: contain;
}
.pricing__wrapper {
  display: grid;

  //height: 847px;
  padding-top: 83px;
  margin: 0 auto;

  .pricing__title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #FFF;
  }

  .pricing-list__wrapper {
    display: inline-flex;
    justify-content: center;

    .pricing-list__item {
      display: inline-grid;
      background: rgba(128, 128, 128, 0.5);
      //width: 257px;
      //height: 457px;
      margin-right: 15px;
      text-align: center;

      &-big {
        display: inline-grid;
        background: #463048;
        //width: 299px;
        //height: 560px;
        margin-right: 15px;
        text-align: center;
        position: relative;
        top: -47px;
      }
    }

    .pricing-list__item-category {
        @include central;
        background: rgba(255, 255, 255, 0.1);
        //height: 97px;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFF;




      &-big {
        @include central;
        //height: 111px;
        font-size: 24px;
        text-transform: uppercase;
        color: #FFF;

      }
    }

    .pricing-list__item-cost {
      display: grid;
      //height: 360px;
      align-items: center;


      &-big {
        display: grid;
        //height: 449px;
        align-items: center;
        margin-bottom: 60px;
      }

      &-inner {
        @include central;
        font-size: 60px;
        line-height: 90px;
        align-items: start;
        text-transform: uppercase;
        color: #FFF;

        &-big {
          @include central;
          font-size: 82px;
          line-height: 90px;
          margin-bottom: 10px;
          align-items: start;
          text-transform: uppercase;
          color: #FFF;
        }
      }

      .pricing-list__item-subtitle {
        position: relative;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: #FFF;

        &::after {
          @include pseudo;
          background: $purple-color;
          width: 60px;
          height: 5px;
          top: 70px;
          right: 95px;
          }

        &-big {
          position: relative;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 30px;
          color: #FFF;

          &::after {
            @include pseudo;
            //width: 60px;
            //height: 5px;
            background: $purple-color;
            top: 70px;
            right: 120px;
          }
        }
      }

    .pricing-list__item-advantage {
        font-size: 16px;
        line-height: 18px;
        text-align: center;
        //height: 35px;
        margin-top: 70px;
        margin-bottom: 36px;
        color: #FFF;

      &-big {
        margin-bottom: 100px;
      }
    }

      .pricing-list__item-btn {
        background: rgba(255, 255, 255, 0.1);
        //width: 163px;
        //height: 45px;
        border: none;
        border-radius: 40px;
        text-decoration: none;
        font-size: 15px;
        margin-bottom: 30px;
        margin-left: 17%;
        text-transform: uppercase;
        color: #FFF;

        &-big {
          margin-left: 22%;
        }
      }
    }
  }
}