.revolutionary {
  margin: 0 auto;

  .revolutionary__title {
    color: #635C73;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 66px;
  }

  .revolutionary__subtitle {
    font-family: 'Lato', sans-serif;
    @include central;
    flex-wrap: wrap;
    text-align: center;
    color: #323232;
    font-size: 21px;
    line-height: 32px;
    margin-top: 35px;
  }

  .revolutionary__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 70px;

    .revolutionary__item {
      display: flex;
      flex-wrap: wrap;

      &-link {
        @include central;
        border: 1px solid #d3d3d3;
        border-radius: 4px;
        margin: 13px 5px 13px 0;
        text-decoration: none;
      }

      &-icon {
        display: flex;
        flex-wrap: wrap;
        color: #000;
        background: $color_grey_bg;
      }

      &-img {
        padding: 0 3px;
        margin-left: 5px;
      }

      &-text {
        @include central;
        text-decoration: none;
        font-size: 10px;
        font-weight: bold;
        padding-right: 20px;
        padding-left: 10px;
      }

      &-details {
        @include central;
        border-left: 1px solid #000;
        height: 21px;
        font-size: 10px;
        color: #000;
        padding: 0 5px;
        text-decoration: none;
      }
    }
  }
}