.revolutionary {
  &__title {
    color: #635c73;
    font-weight: bold;
    font-size: 3.375rem;
    text-transform: uppercase;
    text-align: center;
    padding-top: 8.063rem;
  }

  &__subtitle {
    font-family: "Lato", sans-serif;
    @include central;
    flex-wrap: wrap;
    text-align: center;
    color: #323232;
    font-size: 1.3125rem;
    line-height: 2rem;
    margin-top: 2.1875rem;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 4.375rem;
  }
  &__item {
    display: flex;
    flex-wrap: wrap;

    &-link {
      @include central;
      border: 1px solid #d3d3d3;
      border-radius: 0.25rem;
      margin: 0.813rem 0.313rem 0.813rem 0;
      text-decoration: none;
    }

    &-icon {
      display: flex;
      flex-wrap: wrap;
      color: #000;
      background: $color_grey_bg;
    }

    &-img {
      padding: 0 0.188rem;
      margin-left: 0.313rem;
    }

    &-text {
      @include central;
      text-decoration: none;
      font-size: 0.625rem;
      font-weight: bold;
      padding-right: 1.25rem;
      padding-left: 0.625rem;
      border-right: 1px solid #d3d3d3;
    }

    &-details {
      @include central;
      font-size: 0.625rem;
      color: #000;
      padding: 0 0.313rem;
      text-decoration: none;
    }
  }
}
