@import "mixins";
@import "variables";

//--------------------S E D I U K--------------------

@media screen and (min-width: 481px) and (max-width: 992px) {
  .revolutionary__title {
    font-size: 42px;
  }
  .features {
    background: rgba(0, 0, 0, 0.0001);

    &__wrapper {
      background: rgba(0, 0, 0, 0.0001);
      flex-wrap: wrap;
    }
    &__title {
      font-size: 42px;
      justify-content: center;
      margin: 0;
    }
    &__desc-title {
      display: none;
    }
    &__tab-title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
    }
    &__img {
      margin-left: 3%;
      width: 100%;
    }
  }
  .pricing-list {
    margin-top: 39px;
  }
  .pricing__title {
    font-size: 42px;
  }
  .pricing-list__item {
    margin: 0 15px 71px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .revolutionary__title {
    font-size: 26px;
  }

  .features {
    background: rgba(0, 0, 0, 0.0001);

    &__wrapper {
      flex-wrap: wrap;
    }
    &__tab-title {
      display: flex;
      font-size: 32px;
      text-align: center;
      margin-bottom: 50px;
    }
    &__desc-title {
      display: none;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
    }
    &__item-icon {
      display: flex;
      justify-content: center;
      width: 43%;
      margin-bottom: 27px;
      margin-left: 0;
      text-align: center;
    }
    &__item-text-block {
      width: 136%;
      text-align: center;
      margin: 0;
    }
    &__img {
      width: 100%;
      margin-left: 2%;
    }
    &__list {
      margin: 0;
    }
  }
  .pricing__title {
    font-size: 28px;
  }
  .pricing-list {
    margin-top: 32px;
  }
  .pricing-list__item {
    margin: 18px 0 0 0;
  }
}

//--------------------T R E I K O --------------------

@media screen and (min-width: 481px) and (max-width: 992px) {
  .header {
    background-color: $header-bcg;

    &__body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
    }

    &__logo {
    }

    &__menu {
      grid-row: 2;
      grid-column: 1/4;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-right: 0;
    }

    &__list li {
      margin: 0;
    }

    &__link {
    }

    &__button {
      grid-column: 3/4;
      justify-self: end;
      line-height: 16px;
      max-height: 41px;
      min-width: 145px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    background-color: $header-bcg;

    &__body {
      grid-template-rows: 1fr;
    }

    &__logo {
      &-text {
        display: none;
      }
    }

    &__burger {
      display: block;
      position: relative;
      grid-column: 3/4;
      height: 20px;
      width: 30px;
      z-index: 51;
      // overflow: hidden;

      span {
        top: 9px;
      }

      &::before,
      &::after,
      span {
        @include pseudo;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        z-index: 51;
      }

      &::after {
        bottom: 0;
      }

      &::before {
        top: 0;
      }

      // :focus {
      //     outline: none;
      // }

      &-active {
        span {
          background: none;
        }

        &::before {
          bottom: 0;
          transform: rotate(-45deg);
        }

        &::after {
          top: 0;
          transform: rotate(45deg);
        }

        &::after,
        &::before {
          transition-delay: 0s, 0.3s;
        }
      }
    }

    &__menu {
      position: absolute;
      width: 90%;
      top: -360px; // 101px
      left: 24px;
      transition: all 0.3s;
    }

    &__menu-active {
      top: 101px;
    }

    &__list {
      background-color: $mobile-nav-bgc;
      flex-direction: column;
    }

    &__list li {
      position: relative;
      padding: 2rem 4rem 2rem 2rem;
      border-bottom: 1px solid #3b3b3b;
    }

    &__link {
      font-size: 1.6rem;
      font-weight: normal;
      color: #fff;
    }

    &__link:focus {
      color: $purple-color;
      transition: 0.3s;

      &::before {
        @include pseudo;
        width: 8px;
        height: 53px;
        background-color: $purple-color;
        left: 0;
        top: 18px;
      }
    }

    &__button {
      grid-column: 2/3;
      grid-row: 1;
      justify-self: center;
    }
  }
  .about__title {
    font-size: 36px;
    text-align: center;
  }
  .action__button {
    font-size: 1.125rem !important;
  }
}
