@import 'mixins';
@import 'variables';

//--------------------S E D I U K--------------------

@media (max-width: 1200px) {
  .features__tab-title {
      display: none;
  }
}

@media (max-width: 992px) {

   .revolutionary__title {
      font-size: 42px;
   }
    .features {
        background: rgba(0, 0, 0, 0.0001);
    }
    .features__wrapper {
	 background: rgba(0, 0, 0, 0.0001);
     flex-wrap: wrap;

     .features__title {
        font-size: 42px;
        justify-content: center;
        margin: 0;
     }
   }

    .features__item {
        width: 73%;
    }
    .features__desc-title {
	  display: none;
    }
    .features__tab-title {
    display: flex;
    justify-content: center;
      margin-bottom: 50px;
    }
    .features__img {
      margin-left: 1%;
      width: 100%;
    }

}
@media (max-width: 768px) {

    .revolutionary__title {
        font-size: 26px;
    }


    .features__tab-title {
        font-size: 32px !important;
        text-align: center;
    }
    .features__item {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
    }
    .features__item-text-block {
        width: 136%;
        text-align: center;
        margin: 0;
    }
    .features__item-icon {
        width: 43%;
        margin-bottom: 27px;
        text-align: center;
    }
}



//--------------------T R E I K O --------------------

@media screen and (min-width: 481px) and (max-width: 992px) {
    .header {
        background-color: $header-bcg;

        &__body {
            display: grid;
            grid-template-columns: 20% 20% 40%;
            grid-template-rows: repeat(2, 1fr);
            margin: 0 auto;
        }

        &__logo {

        }

        &__menu {
            display: grid;
            grid-row: 2;
            grid-column: 3/3;
            width: 150%;
            // margin: auto;
        }

        &__list {
            display: flex;
            justify-content: space-between;
            margin-right: 0;
        }

        &__list li {
            margin: 0;
        }

        &__link {
            
        }

        &__button {
            grid-column: 4/4;
            justify-self: end;
            line-height: 16px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
        background-color: $header-bcg;

        &__body {
            display: grid;
            grid-template-columns: 1fr;
            // grid-template-rows: 0;
            
        }

        &__logo {
            
        }

        &__burger {
            display: block;
            position: relative;
            right: -190%;
            height: 20px;
            width: 30px;
            z-index: 51;

            span {
                @include pseudo;
                background-color: #fff;
                left: 0;
                top: 0;
                width: 100%;
                height: 2px;
                z-index: 51;
            }
    
            &::before {
                @include pseudo;
                background-color: #fff;
                width: 100%;
                height: 2px;
                left: 0;
                top: 0;
                z-index: 51;
            }
        
            &::after {
                @include pseudo;
                background-color: #fff;
                width: 100%;
                height: 2px;
                left: 0;
                bottom: 0;
                z-index: 51;
            }
            
        }

        &__menu {
            grid-row: 2;
            
        }

        &__list {
            background-color: $mobile-nav-bgc;
            width: 300%;
            grid-row: 2;
            grid-column: 3/3;
            position: absolute;
            top: 65px;
            right: 0;
            display: flex;
            flex-direction: column;
            margin-right: 0;
        }

        &__list li {
            position: relative;
            border-bottom: .3rem solid #3B3B3B;
            margin: 0;
            
        }

        &__link {
            display: block;
            padding: 29px 128px 21px 39px;
            font-size: 1.6rem;
            font-weight: normal;
        }

        &__link:hover {
            color: #fff;
        }

        &__link:hover::before {
            @include pseudo;
            width: 8px;
            height: 53px;
            background-color: $purple-color;
            left: 0;
            top: .775rem;
        }

        &__button {
            grid-column: 2/3;
            justify-self: center;
            line-height: 15px;
        }
    }
}

// ABOUT ==================

@media screen and (min-width: 481px) and (max-width: 992px) {
    
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    
}


