@media (max-width: 1200px) {
  .container {
    max-width: 970px;
    background: yellow;

  }
}

@media (max-width: 992px) {
  .container {
    background: #00CBF6;
    .revolutionary__title {
      font-size: 42px;
    }
  .features__wrapper {
    background: rgba(0, 0, 0, 0.0001);
  }
  }
.features__title {
  font-size: 42px;
  display: flex;
  justify-content: center;
  .features__item-editor {
    width: 100%;
  }
}
}
@media (max-width: 768px) {
  .container {
    background: #6c71c4;
    .revolutionary__title {
      font-size: 26px;
    }
  }
  .features__item-editor {
    width: 100%;
  }

}