@import "mixins";
@import "variables";

//--------------------S E D I U K--------------------

@media (max-width: 1200px) {
}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .revolutionary__title {
    font-size: 42px;
  }
  .features {
    background: rgba(0, 0, 0, 0.0001);

    &__wrapper {
      background: rgba(0, 0, 0, 0.0001);
      flex-wrap: wrap;
    }
    &__title {
      font-size: 42px;
      justify-content: center;
      margin: 0;
    }
    &__desc-title {
      display: none;
    }
    &__tab-title {
      display: flex;
      justify-content: center;
      text-align: center;
      margin-bottom: 50px;
    }
    &__img {
      margin-left: 8%;
      width: 100%;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .revolutionary__title {
    font-size: 26px;
  }

  .features {
    background: rgba(0, 0, 0, 0.0001);

    &__wrapper {
      flex-wrap: wrap;
    }
    &__tab-title {
      display: flex;
      font-size: 32px;
      text-align: center;
      margin-bottom: 50px;
    }
    &__desc-title {
      display: none;
    }
    &__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0;
    }
    &__item-icon {
      display: flex;
      justify-content: center;
      width: 43%;
      margin-bottom: 27px;
      margin-left: 0;
      text-align: center;
    }
    &__item-text-block {
      width: 136%;
      text-align: center;
      margin: 0;
    }
    &__img {
      width: 100%;
      margin-left: 2%;
    }
    &__list {
      margin: 0;
    }
  }
}

//--------------------T R E I K O --------------------

@media screen and (min-width: 481px) and (max-width: 992px) {
  .header {
    background-color: $header-bcg;

    &__body {
      display: grid;
      grid-template-columns: 20% 20% 40%;
      grid-template-rows: repeat(2, 1fr);
      margin: 0 auto;
    }

    &__logo {
    }

    &__menu {
      display: grid;
      grid-row: 2;
      grid-column: 3/3;
      width: 150%;
      // margin: auto;
    }

    &__list {
      display: flex;
      justify-content: space-between;
      margin-right: 0;
    }

    &__list li {
      margin: 0;
    }

    &__link {
    }

    &__button {
      grid-column: 4/4;
      justify-self: end;
      line-height: 16px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header {
    background-color: $header-bcg;

    &__body {
      display: grid;
      grid-template-columns: 1fr;
      // grid-template-rows: 0;
    }

    &__logo {
    }

    &__burger {
      display: block;
      position: relative;
      right: -190%;
      height: 20px;
      width: 30px;
      z-index: 51;

      span {
        @include pseudo;
        background-color: #fff;
        left: 0;
        top: 0;
        width: 100%;
        height: 2px;
        z-index: 51;
      }

      &::before {
        @include pseudo;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        top: 0;
        z-index: 51;
      }

      &::after {
        @include pseudo;
        background-color: #fff;
        width: 100%;
        height: 2px;
        left: 0;
        bottom: 0;
        z-index: 51;
      }
    }

    &__menu {
      grid-row: 2;
    }

    &__list {
      background-color: $mobile-nav-bgc;
      width: 300%;
      grid-row: 2;
      grid-column: 3/3;
      position: absolute;
      top: 65px;
      right: 0;
      display: flex;
      flex-direction: column;
      margin-right: 0;
    }

    &__list li {
      position: relative;
      border-bottom: 0.3rem solid #3b3b3b;
      margin: 0;
    }

    &__link {
      display: block;
      padding: 29px 128px 21px 39px;
      font-size: 1.6rem;
      font-weight: normal;
    }

    &__link:hover {
      color: #fff;
    }

    &__link:hover::before {
      @include pseudo;
      width: 8px;
      height: 53px;
      background-color: $purple-color;
      left: 0;
      top: 0.775rem;
    }

    &__button {
      grid-column: 2/3;
      justify-self: center;
      line-height: 15px;
    }
  }
}

// ABOUT ==================

@media screen and (min-width: 481px) and (max-width: 992px) {
}

@media screen and (min-width: 320px) and (max-width: 480px) {
}
