$header-bcg: #27262A;
$purple-color: #8D81AC;
$mobile-nav-bgc: #333333;
$grey-color: #848E97;

$color_grey_1: #F4F4F4;
$color_grey_2: #d3d3d3;
$color_3: #323232;


$mobile: 320px;
$tablet: 481px;
$desktop: 993px;
