%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$color_white: #FFFFFF;
$color_bg: #8D81AC;

.fork_subscription_pricing {
  display: grid;
  height: 847px;
  background-image: url("../img/fork_bg.png");
  background-size: cover;
  padding-top: 83px;
}
.fork_title {
  margin: 0 auto;
  padding-bottom: 61px;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;

  color: $color_white;
  @extend %flex_center;
}
.cards {
  display: flex;
  justify-content: center;
}
.block {
  margin-right: 15px;
  text-align: center;
  width: 257px;
  height: 457px;
  background: rgba(215, 207, 207, 0.2);
}
.students_title {
  display: flex;
}
.students {
  margin: 0 auto;
  display: flex;
  width: 257px;
  height: 97px;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: rgba(215, 207, 207, 0.3);
  color: $color_white;
}
.price {
  position: relative;

}
.dollar {
  margin: 0 auto;
  padding-top: 30px;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;

  color: $color_white;
  @extend %flex_center;
}
.per_month {
  font-size: 14px;
  padding-top: 20px;
  margin: 0 auto;
  text-transform: uppercase;

  color: $color_white;
  @extend %flex_center;
}
.per_month:after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: $color_bg;
  top: 175px;
}
.license {
  width: 257px;
  height: 44px;
  font-size: 16px;
  padding-top: 79px;
  margin: 0 auto;
  text-transform: capitalize;

  color: $color_white;
  @extend %flex_center;
}
.purchase {
  width: 163px;
  height: 45px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 25px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  background: rgba(215, 207, 207, 0.2);
  color: $color_white;

}
.students_title_agency {
  /*background: #000000;*/
  /*mix-blend-mode: normal;*/
  /*opacity: 0.11;*/
}
.students_agency {
  width: 299px;
  height: 111px;
  background: rgba(55, 54, 54, 0.4);
}
.block_agency {
  background: #463048;
  position: relative;
  top: -47px;
  width: 299px;
  height: 560px;
  margin-right: 15px;
}
.dollar_agency {
  margin: 0 auto;
  padding-top: 12px;
  font-size: 82px;
  font-weight: bold;
  text-transform: uppercase;

  color: $color_white;
  @extend %flex_center;
}
.license_agency {
  width: 257px;
  height: 44px;
  font-size: 16px;
  padding-top: 79px;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;

  color: $color_white;
  @extend %flex_center;
}
.purchase_agency {
  position: absolute;
  top: 320px;
  right: 52px;
  width: 190px;
  height: 52px;

  border-radius: 40px;
  text-decoration: none;
  font-size: 15px;
  margin-top: 36px;
  margin-bottom: 37px;
  text-align: center;
  text-transform: uppercase;

  color: $color_white;
}
.per_month_agency {
  position: relative;
  top: -10px;
}
.per_month_agency:after {
  content: '';
  position: absolute;
  display: block;
  width: 60px;
  height: 5px;
  background: $color_bg;
  top: 85px;
}