@import "./variables";
@import "./mixins";
@import "./reset";
@import "./sections/intro";
@import "./sections/header";
@import "./sections/revolutionary";
@import "./sections/features";
@import "./sections/about";
@import "./sections/pricing";
@import "./media";

body {
    font-family: "Montserrat", sans-serif;
    // font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 0 10px;
}
