@import 'variables';
@import "mixins";
@import 'reset';
@import "./sections/revolutionary";
@import "./sections/feateres";
@import "./sections/pricining";
@import "media";


body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
.container {
  width: 85%;
  margin: 0 auto;
  padding: 0 10px;
}
