.revolutionary_editor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.unlimited {
  color: #848E97;
  font-size: 14px;
}
.revo_editor {
  color: #635C73;
  font-weight: bold;
  font-size: 54px;
  text-transform: uppercase;
}
.aenean_text {
  color: #323232;
  font-size: 21px;

}
.watch {
  font-size: 21px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  justify-content: center;
}
.octicon {

  padding: 2px;
}
