
@import 'variables';
@import 'mixins';
@import 'reset';
@import './sections/header';
@import './sections/about';
@import 'media';


body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1200px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.wrapper {
    max-height: 100%;

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px
}

// ======== SECTION INTRO

.intro {
    background-image: url('../img/sections/intro-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30%;
        

        &-text {
            color: #fff;
            padding-top: 20%;
            display: flex;
            flex-direction: column;
            text-align: center;

            &-title {
                font-size: 5.125rem;
                font-weight: bold;
                margin-bottom: 1.1rem;
            }

            &-subtitle {
                color: $purple-color;
                font-weight: bold;
                font-size: 1.875rem;
                padding-bottom: 1rem;
            }

            &-property {
                color: $grey-color;
            }
        }
    }
}

    .action {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: 100%;
        top: 57px;

        &__button {
            @include button-styles;
            padding: .875rem 2.5rem;
            font-size: 1.3rem;
            margin-bottom: 1.1rem;
            background-color: $purple-color;
            color: #fff;
        
        }

        &__button:hover {
            background-color: #fff;
            color: $purple-color;
            transition: .5s;
        }
    
        &__text {
            color: $grey-color;
            font-size: 0.875rem;
        }
    }
}