<<<<<<< HEAD
@import "revolutionary_editor";
@import "fork_subscription_pricing";
@import "people_are_talking_about_fork";



body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}
.revolutionary_editor-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (max-width: 1200px) {
  .revolutionary_editor-container {
    max-width: 992px;
  }
}
@media (max-width: 993px) {
  .revolutionary_editor-container {
    max-width: 481px;
  }
}
@media (max-width: 481px) {
  .revolutionary_editor-container {
    max-width: 320px;
  }
}


=======

@import 'variables';
@import "mixins";
@import 'reset';
@import './sections/header';

body {
    font-family: 'Montserrat', sans-serif;
    // font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.wrapper {
    max-height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

// ======== SECTION INTRO

.intro {
    background-image: url('../img/sections/intro-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;
    background-position: center;

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30%;
        

        &-text {
            color: #fff;
            padding-top: 7%;
            display: flex;
            flex-direction: column;
            text-align: center;

            &-title {
                font-size: 5.125rem;
                font-weight: bold;
                margin-bottom: 1.1rem;
            }

            &-subtitle {
                color: $purple-color;
                font-weight: bold;
                font-size: 1.875rem;
                padding-bottom: 1rem;
            }

            &-property {
                color: $grey-color;
            }
        }
    }
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: flex-end;
    position: relative;
    top: 55px;

    &__button {
        @include button-styles;
        padding: .875rem 2.5rem;
        font-size: 1.3rem;
        margin-bottom: 1.1rem;
        
    }

    &__text {
        color: $grey-color;
        font-size: 0.875rem;
    }
}





>>>>>>> main
