.fork_sections {
  height: 769px;
  background-image: url("../img/testmonials-bg.png");
}
.six_fork_sections {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.people {
  margin: 0 auto;
  padding-top: 81px;
  font-weight: bold;
  font-size: 48px;
  line-height: 50px;
  text-transform: capitalize;
  text-align: center;

  color: #FFFFFF;
}
.fork_sections-item {
  display: grid;
  align-items: end;
  justify-items: center;
}
.fork_sections-text {
  width: 345px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  align-content: flex-end;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;

  color: #FFFFFF;
}
.fork_sections-img {
  padding-top: 65px;
  text-align: end;
}
.footer-text {
  font-family: 'Lato', sans-serif;
  width: 887px;
  height: 35px;
  font-size: 14px;
  line-height: 21px;

  position: relative;
  top: -170px;
  right: -330px;
  text-align: center;

  color: #A291A5;
}
.footer-text:after {
  content: "";
  width: 780px;
  height: 2px;
  left: 65px;
  top: 60px;
  position: absolute;
  background: #645766;
}