$color_grey_1: #F4F4F4;
$color_grey_2: #d3d3d3;
$color_3: #323232;

%flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.revolutionary_editor {
  text-align: center;

  @extend %flex_center;

  .unlimited {
    color: #848E97;
    font-size: 14px;
  }

  .revo_editor {
    color: #635C73;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    margin-top: 66px;
  }

  .aenean_text {
    font-family: 'Lato', sans-serif;
    height: 64px;
    width: 861px;
    color: $color_3;
    font-size: 21px;
    margin-top: 35px;
  }

  .git_button {
    display: inline-flex;
    justify-content: center;
    border: 1px solid $color_grey_2;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 70px;

    .watch {
      display: inline-flex;
      font-size: 12px;
      font-weight: bold;
      border-right: 1px solid $color_grey_2;
      padding: 5px 20px 0 20px;
      background: $color_grey_1;

      .octicon {
        padding-right: 5px;
      }
    }

    .quantity {
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;

      @extend %flex_center;
    }

    .button-watch {
      display: inline-flex;
      text-decoration: none;
      color: black;
    }
  }
}
.here_is_what_you_get {
  height: 711px;
  background: $color_grey_1;
  aside {
    float: right;
    .here_is {
      font-weight: bold;
      font-size: 48px;
      margin-top: 94px;
      margin-bottom: 20px;
      color: #8D81AC;
    }
  }
}
.here_is-item_top {
  padding-top: 110px;
}
.here_is-item {
  display: flex;
  margin-bottom: 40px;
  padding-right: 193px;
  .image {
    display: inline-table;
    width: 115px;
    height: 95px;
    margin-left: 106px;
  }
}
.here_is_text_text {
  margin-left: 44px;
  padding: 0;
  .here_is-title {
    margin: 0 auto;
    font-size: 16px;
    color: $color_3;
  }
  .here_is-text {
    font-size: 14px;
    color: #848E97;
  }
}


