.revolutionary_editor {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .unlimited {
    color: #848E97;
    font-size: 14px;
  }
  .revo_editor {
    color: #635C73;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    margin-top: 66px;
  }
  .aenean_text {
    font-family: 'Lato', sans-serif;
    height: 64px;
    width: 861px;
    color: #323232;
    font-size: 21px;
    margin-top: 35px;
  }
  .git_button {
    display: inline-flex;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 70px;
    .watch {
      display: inline-flex;
      font-size: 12px;
      font-weight: bold;
      border-right: 1px solid lightgray;
      padding: 5px 20px 0 20px;
      background: #F4F4F4;
      .octicon {
        padding-right: 5px;
      }
    }
    .quantity {
      display: inline-flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: bold;
      padding: 5px;
    }
    .button-watch {
      display: inline-flex;
      text-decoration: none;
      color: black;
    }
  }
}


